@import "../../modules/landing-page/landing-page.scss";
@import "../../modules/login/login.scss";
@import "../../modules/start-modal/start-modal.scss";
@import "../../modules/stop-modal/stop-modal.scss";

.replay-app {
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
